#introducao {
  color: black;
}

.codigo .design {
  color: green;
}

.none {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: seagreen;
  margin-bottom: 10px;
}

.filme {
  color: darkred;
  font-size: 20px;
}

.azul {
  color: darkblue;
}

* {
  font-family: Arial, sans-serif;
}
